<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8"/>
	<title><%= title %></title>
	<link rel="stylesheet" href="style/terminal.css"/>
</head>
<body>
	<script src="bundle"></script>
	<script>var query = new Query();</script>
	<form style="width:100vw;" onsubmit="return Parse();">
		<input id="input" type="text" name="userinput">
	</form><br>

	<div id="consoleOverlay"><div id="console"></div></div>
	<script>document.getElementById("input").focus();</script>
</body>
</html>
